.ptime{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    margin: 0 0px;
}
.ptime div{
    width: fit-content;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.ptime div:nth-child(2){
    color: #c09d77;
}
.redborder{
    outline: 3px solid red;
}
